[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mt19937ar = "*"
numpy = "<2.0.0"
questionary = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
kago-utils = {git = "https://github.com/zurukumo/kago-utils.git"}

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
parse = "python -m scripts.parse_haihu"
train = "python -m scripts.train_haihu"
visualize = "python -m scripts.visualize_model"
lint = "python -m ruff check"
format = "python -m ruff format"
